.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #333;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.LOGO img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

nav {
  flex-grow: 1;
  text-align: right;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    height: 100%;
    width: 100%;
  /*list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;*/
}

nav li {
  display: inline-block;
}

nav a {
    color: rgb(245, 241, 241);
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
  /*color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;*/
}

nav a:hover {
  background-color: #555;
  color: #f0f0f0;
}
.Navigation {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}